.post-container {
  margin: 50px auto;
  width: 50%;
  border: solid #d3def1;
  border-radius: 10px;
  text-align: center;
  background-color: #d3def1;
}
.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}
input[type="text"] {
  width: 95%;
  height: 40px;
}
input[type="submit"] {
  width: 200px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.post-container {
  font-size: 22px;   /* 全体の文字サイズ */
}

/* タイトル */
.post-container h1 {
  font-size: 75px;
}

.post-container h3 {
  font-size: 50px;
}

/* ラベル */
.post-container label {
  font-size: 40px;
  font-weight: bold;
}

/* 入力欄 */
.post-container input,
.post-container textarea {
  font-size: 30px;
  padding: 8px;
}

/* ボタン */
.post-container input[type="submit"] {
  font-size: 22px;
  padding: 10px 25px;
  border-radius: 8px;
}

.post-container a {
  font-size: 40px;   /* ← 好きな大きさに調整OK */
  font-weight: bold;
}
